@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: futura;
    src: url(../../fonts/futura\ medium\ bt.ttf);
}
*{
    font-family: futura;
    letter-spacing: normal;
    box-sizing: border-box;
}
@keyframes slideUp {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.display-none{
    display: none;
}
.display-block{
    display: none;
}
.position-unset{
    position: unset;
}
.position-fixed{
    position: fixed;
    top: 0;
    right: auto;
}